<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>add</title>
  <link rel="stylesheet" href="../public/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <form action="edit.html" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">id</label>
      <input type="text" class="form-control" name="id" id="id" placeholder="{{ data.id }}" readonly value="{{ data.id }}">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">水果</label>
      <input type="text" class="form-control" name="fruitName" id="exampleInputEmail1" placeholder="{{ data.fruitName }}">
    </div>
    <div class="form-group">
      <label for="2">日期</label>
      <input type="text" class="form-control" name="date" id="2" placeholder="{{ data.date }}">
    </div>
    <div class="form-group">
      <label for="3">价格</label>
      <input type="text" class="form-control" name="price" id="3" placeholder="{{ data.price }}">
    </div>
    <div class="form-group">
      <label for="1">数量</label>
      <input type="text" class="form-control" name="amount" id="1" placeholder="{{ data.amount }}">
    </div>
    <div class="checkbox">
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
  </form>
</div>
</body>
</html>
