<!DOCTYPE html>
<html lang="zh">
<head>
  <title>Login</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <script type="application/x-javascript"> addEventListener("load", function () {
    setTimeout(hideURLbar, 0);
  }, false);

  function hideURLbar() {
    window.scrollTo(0, 1);
  } </script>
  <link href="../public/css/login.css" rel='stylesheet' type='text/css'/>
  <script src="../node_modules/jquery/jquery.min.js"></script>
</head>
<body>
<script>$(document).ready(function (c) {
  $('.close').on('click', function (c) {
    $('.login-form').fadeOut('slow', function (c) {
      $('.login-form').remove();
    });
  });
});
</script>
<!--SIGN UP-->
<h1>klasikal Login Form</h1>
<div class="login-form">
  <div class="close"></div>
  <div class="head-info">
    <label class="lbl-1"> </label>
    <label class="lbl-2"> </label>
    <label class="lbl-3"> </label>
  </div>
  <div class="clear"></div>
  <div class="avtar">
    <img src="../public/img/avtar.png" alt=""/>
  </div>
  <form method="post" action="login.html" id="form">
    <label>
      <input class="text" placeholder='Username' type="text" name="email" value="">
    </label>
    <div class="key">
      <label>
        <input placeholder='Password' type="password" name="password" value="">
      </label>
    </div>
  </form>
  <div class="signin">
    <input type="submit" value="Login" form="form">
  </div>
</div>
<div class="copy-rights">
  <p>Copyright &copy; 2015.Company name All rights reserved.More</p>
</div>

</body>
</html>
