<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>add</title>
  <link rel="stylesheet" href="../public/css/bootstrap.min.css">
  <style>
    .margin{
      margin: 10px 0;
    }
  </style>
</head>
<body class="margin">
<div class="container comments">
  <div class="row">
    <div class="col-lg-12">
      <h4 class="page-header">请输入留言</h4>
    </div>
  </div>

  <form class="form-horizontal" action="./message.html" method="get">
    <div class="form-group">
      <label for="inputEmail3" class="control-label">姓名</label>
      <div>
        <input type="text" class="form-control" id="inputEmail3" placeholder="姓名" name="name" required minlength="2">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="control-label">留言</label>
      <div>
        <input type="text" class="form-control" id="inputPassword3" placeholder="留言"  name="message" required minlength="2">
      </div>
    </div>
    <button class="btn btn-success margin" type="submit">提交</button>
  </form>
</div>
</body>

<!--
  + 表单提交
   - 默认提交
   - 异步提交
-->
</html>
