<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Bootstrap Registration Form Template</title>

  <!-- CSS -->
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500" rel="stylesheet">
  <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/css/form-elements.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Favicon and touch icons -->
  <link href="assets/ico/favicon.png" rel="shortcut icon">
  <link href="assets/ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
  <link href="assets/ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
  <link href="assets/ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
  <link href="assets/ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">

</head>

<body>

<!-- Top menu -->
<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-target="#top-navbar-1" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Bootstrap Registration Form Template</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="top-navbar-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <span class="li-text">
            Put some text or
          </span>
          <a href="#"><strong>links</strong></a>
          <span class="li-text">
            here, or some icons:
          </span>
          <span class="li-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
            <a href="#"><i class="fa fa-skype"></i></a>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Top content -->
<div class="top-content">

  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text">
          <h1><strong>Bootstrap</strong> Registration Form</h1>
          <div class="description">
            <p>
              This is a free responsive registration form made with Bootstrap.
              Download it on <a href="#"><strong>AZMIND</strong></a>, customize and use it as you like!
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 book">
          <img alt="" src="assets/img/ebook.png">
        </div>
        <div class="col-sm-5 form-box">
          <div class="form-top">
            <div class="form-top-left">
              <h3>Get our eBook</h3>
              <p>Fill in the form below to get instant access:</p>
            </div>
            <div class="form-top-right">
              <i class="fa fa-pencil"></i>
            </div>
          </div>
          <div class="form-bottom">
            <form action="register.html" class="registration-form" method="post" role="form">
            <!--<form class="registration-form" role="form">-->
              <div class="form-group">
                <label class="sr-only" for="form-name">First name</label>
                <input class="form-first-name form-control" id="form-name" name="email" placeholder="邮件" type="email">
              </div>

               <div class="form-group">
                <label class="sr-only" for="form-first-name">First name</label>
                <input class="form-control" id="form-first-name" name="nikename" placeholder="昵称">
              </div>

              <div class="form-group">
                <label class="sr-only" for="form-last-name">Last name</label>
                <input class="form-last-name form-control" id="form-last-name" name="password" placeholder="密码" type="password">
              </div>
              <div class="form-group">
                <label class="sr-only" for="form-email">Email</label>
                <input class="form-email form-control" id="form-email" name="repassword" placeholder="确认密码" type="password">
              </div>
              <button id="submit" class="btn">Give it to me!</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Javascript -->
<script src="assets/js/jquery-1.11.1.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/retina-1.1.0.min.js"></script>
<script src="assets/js/scripts.js"></script>

<script>
  $('#submit').on('submit', function (e) {
    e.preventDefault();

    const formData = $(this).serialize();
    $.ajax({
      url: '/register.html',
      type: 'post',
      data:formData,
      dataType: 'json',
    }).then(res => {
      console.log(res);
    })
  })
</script>
<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>
<![endif]-->

</body>

</html>
