.pf_r {
    font-family: "PingFang SC", serif;
    font-weight: normal;
}

.s_r_3 {
    font-size: .3rem;
}

.s_r_2{
    font-size: .2rem;
}
.s_r_22{
    font-size: .22rem;
}

.c_f0f0f0 {
    color: #f0f0f0;
}

.c_808080{
    color: #808080;
}

.c_ef{
    color: #efefef;
}

.c_edc97c{
    color: #edc97c;
}

.c_fde1a5 {
    color: #fed1a5;
}
.c_423313{
   color: #423313
}

