html {
    background: #ffadad;
}

.bg {
    width: 100%;
}

.linkman {
    width: 0.76rem;
    height: 0.76rem;
    display: block;
    float: left;
    margin-left: 0.65rem;
    margin-top: 0.48rem;
}

.dialog {
    width: 4.35rem;
    border-radius: 4px;
    background: #ffc0c0;
    float: left;
    margin-top: 0.48rem;
    margin-left: 0.33rem;
    font-size: 0.26rem;
    padding: 0.23rem 0.43rem;
    position: relative;
}

.dialog span {
    color: #ff4f38;
}

.arrow {
    width: 0.25rem;
    height: 0.25rem;
    position: absolute;
    left: -0.25rem;
    top: 0.3rem;
}

.register {
    width: 6.98rem;
    height: 4.64rem;
    margin-left: 0.26rem;
    margin-top: 0.49rem;
    background: url("../img/register_03.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.picture {
    background: url("../img/title_03.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 2.84rem;
    height: 0.7rem;
    display: block;
    margin: 0 auto;
    margin-top: 0.43rem;
    font-size: 0.32rem;
    text-align: center;
    line-height: 0.7rem;
}

.register h1 {
    margin: 0;
    text-align: center;
    font-size: 0.28rem;
    color: #666;
    margin-top: 0.54rem;
    font-weight: normal;
}
.new {
    width: 4.6rem;
    margin: 0 auto;
    margin-top: 0.44rem;
    text-align: center;
}

.newline {
    width: 0.88rem;
    height: 0.02rem;
    background: #ff4f38;
    float: left;
    margin-top: .18rem;
}

.newlines {
    float: left;
    width: 0.88rem;
    height: 0.02rem;
    background: #ff4f38;
    margin-left: 0.31rem;
    margin-top: .18rem;
}

.new h1 {
    margin: 0;
    float: left;
    margin-left: 0.3rem;
    font-size: 0.28rem;
    color: #ff4f38;
}
.button{
    width: 5.1rem;
    height: 0.88rem;
    background: #ff4f38;
    border: none;
    border-radius: 8px;
    float: left;
    margin-left: 0.94rem;
    margin-top: 0.44rem;
    font-size: 0.32rem;
    color: #fff;
}
.logos {
    width: 100%;
    height: 1.19rem;
    margin-top: 0.87rem;
    border-bottom: 2px dashed #ffdada;
}

.logo {
    width: 2.65rem;
    height: 0.89rem;
    background: #f4eaea;
    /*margin-left: 1.57rem;*/
    margin: 0 auto;
    color: #765d5a;
    font-size: 0.26rem;
    text-align: center;
    line-height: 0.89rem;
}

.foot {
    width: 100%;
    height: 1.06rem;
    text-align: center;
    padding-top: 0.4rem;
    padding-bottom: 0.33rem;
}

.foot h1 {
    color: #765d5a;
    font-size: 0.26rem;
    font-weight: normal;
    margin: 0;
}